<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br />
  <p>Se realmente foi você que solicitou, clique no link abaixo para uma nova senha:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Caso você não tenha realizado essa solicitação, descarte este email.</p>
  <br />
  <p>Att</p>
  <p>Fake News api-testes</p>
</div>
